.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 18px;
  align-items: normal;
}

.contentShow {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    gap: 62px;
  }
}

.contentShow img {
  width: auto;
  max-height: 445px;
}

.contentDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contentDescription button {
  width: 100%;
  max-width: 260px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
  color: var(--text-primary);
  &:hover {
    background-color: var(--background-third);
  }
}

.link {
  text-decoration: underline;
}

.tags {
  display: flex;
  gap: 32px;
}

.tag {
  padding: 4px 16px;
  background: forestgreen;
  border-radius: 30px;
  color: #fff;
  font-size: var(--typography-sizes-xs);
}

.days {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.scheduleDays {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag2 {
  padding: 4px 16px;
  background: brown;
  border-radius: 30px;
  color: #fff;
  font-size: var(--typography-sizes-xs);
}

.stars {
  display: flex;
  gap: 6px;
}
